@model MVCAssessment2.ViewModels.ManageRole

<fieldset>
    @using (Html.BeginForm())
    {
        <table>
            <tr>
                <td>@Html.LabelFor(m => m.userList)</td>
                <td>@Html.DropDownListFor(m => m.userID, new SelectList(Model.userList, "Value", "Text"), "Select User", new{@id="idDD", @class="form-control"})</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.roleList)</td>
                <td>@Html.DropDownListFor(m => m.roleID, new SelectList(Model.roleList, "Value", "Text"), "Select Role", new{@id="idDD", @class="form-control"})</td>
            </tr>
            <tr><td></td><td><button type="submit" class="btn btn-primary">Assign Role</button></td></tr>

        </table>
    }



</fieldset>